.headshot {
    --headshot-width: 10%;

    display: flex;
    flex: 1 1 var(--headshot-width);

    max-width: 100%;
    min-width: 300px;

    border-radius: 10%;
    align-self: flex-start;
}

.social {
    --social-width: clamp(10px, 8vw, 32px);

    width: var(--social-width);
    height: var(--social-width);

    margin-right: var(--small-space);
    margin-top: var(--small-space);
}

.social:hover {
    fill: var(--color-accent);
    filter: drop-shadow(0.5px 0.5px 1px var(--color-accent));
}

.introduction {
    font-size: clamp(1.7rem, 5.5vw, 6rem);
}

.subintroduction {
    font-size: clamp(0.95rem, 2.5vw, 4rem);
}