.footer {
    width: var(--content-width);
    margin: var(--large-space) auto;
    padding-top: var(--medium-space);

    text-align: center;

    border: 0;
    border-top: 2px solid var(--color-secondary);
}