:root {
    --color-bg-dark: hsl(217, 32%, 11%);
    --color-bg-navbar: hsl(217, 33%, 17%);
    --color-secondary: hsl(217, 33%, 50%);
    --color-accent: hsl(192, 90%, 67%);
    --color-text: hsl(217, 33%, 96%);

    --font-family-main: Arial, sans-serif;
    --regular-font-size: clamp(1rem, 1.2vw, 1.2rem);

    --content-width: 80%;

    --small-space: 10px;
    --medium-space: 20px;
    --large-space: 40px;
}

* {
    box-sizing: border-box;
    color: var(--color-text);
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;

    font-family: var(--font-family-main);
    font-size: var(--regular-font-size);
    background-color: var(--color-bg-dark);
}

h1,
h2,
h3,
h4,
h5 {
    margin: var(--small-space) 0 0 0;
    width: 100%;
}

p {
    margin: var(--small-space) 0;
    width: 100%;
}

article {
    display: flex;
    flex-direction: column;
    flex: 1;

    width: var(--content-width);
    margin: 0 auto;
    padding-top: var(--large-space);
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: var(--medium-space);
    align-items: center;
}

section div {
    flex: 1 1 300px;
    margin-right: var(--small-space);
}

object {
    flex: 1;
    border: none;
}

iframe {
    margin: 0 auto;
    aspect-ratio: 1 / 1;
    max-width: 500px;
}

a {
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    color: var(--color-accent);
    text-shadow: 0.5px 0.5px 1px var(--color-accent);
}

.katex {
    font-family: var(--font-family-main) !important;
    font-size: var(--regular-font-size) !important;
}