:root {
    --color-bg-dark: hsl(217, 32%, 11%);
    --color-bg-navbar: hsl(217, 33%, 17%);
    --color-secondary: hsl(217, 33%, 50%);
    --color-accent: hsl(192, 90%, 67%);
    --color-text: hsl(217, 33%, 96%);

    --font-family-main: Arial, sans-serif;
    --regular-font-size: clamp(1rem, 1.2vw, 1.2rem);

    --content-width: 80%;
    --headshot-width: 10%;

    --small-space: 10px;
    --medium-space: 25px;
    --large-space: 50px;

    --social-width: clamp(10px, 8vw, 32px);
}

* {
    box-sizing: border-box;
    color: var(--color-text);
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    font-family: var(--font-family-main);
    font-size: var(--regular-font-size);
    background-color: var(--color-bg-dark);
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

h1 {
    font-size: clamp(1.7rem, 5.5vw, 6rem);
}

h2 {
    font-size: clamp(0.95rem, 2.5vw, 4rem);
}

article {
    display: flex;
    flex-direction: column;
    flex: 1;

    width: var(--content-width);
    margin: 0 auto;
    padding-top: var(--large-space);
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

section div {
    flex: 1 1 300px;
    margin-right: var(--small-space);
}

object,
iframe {
    flex: 1;
    border: none;
}

.headshot {
    display: flex;
    flex: 1 1 var(--headshot-width);

    max-width: 100%;
    min-width: 300px;

    border-radius: 10%;
    align-self: flex-start;
}

a {
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: var(--color-accent);
    text-shadow: 0.5px 0.5px 1px var(--color-accent);
}

.social {
    width: var(--social-width);
    height: var(--social-width);

    margin-right: var(--small-space);
    margin-top: var(--small-space);
}

.social:hover {
    fill: var(--color-accent);
    filter: drop-shadow(0.5px 0.5px 1px var(--color-accent));
}