:root {
    --navbar-height: 64px;
    --navbar-logo-height: 60px;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--navbar-height);
    /* Divide by 2 for each side */
    padding: 0 calc((100% - var(--content-width)) / 2);
    box-shadow: 0px 0px 20px var(--color-accent);
    background-color: var(--color-bg-navbar);
}

.navlinks {
    display: flex;
    align-items: center;
}

.navlink {
    position: relative;
    left: var(--small-space);
    padding: var(--small-space);
}

.navlogo {
    height: var(--navbar-logo-height);
    margin: calc((var(--navbar-height) - var(--navbar-logo-height)) / 2) 0px;
}

.navlogolink {
    font-size: 0;
}