.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1E293B;
}

.navlinkdiv {
    display: flex;
    align-items: center;
}

.navlink {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 1.1rem;
    color: #F1F5F9;
}

.navlogo {
    width: 50px;
    padding: 10px;
}